@tailwind base;
@tailwind components;
@tailwind utilities;


/* base style */
*,::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* For the entire page */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #8080805b transparent; /* Scrollbar track and thumb */
}

/* Webkit Browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

body::-webkit-scrollbar-thumb,
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #8080805b; /* Your border color */
  border-radius: 6px;
}

body::-webkit-scrollbar-track,
.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Scrollable Div */
.scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #8080805b transparent;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #8080805b; /* Your border color */
  border-radius: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.input-field {
  @apply bg-bg_color1 w-full block mb-9 p-3 outline-none border-none rounded;
}


.primary-btns{
  @apply border-none outline-none min-w-[200px] mx-auto block rounded-md cursor-pointer py-[8px] px-[12px];
}

.edit-profile-form{
  @apply flex items-center justify-center w-[100%] mb-9;
}

.gray-btn{
  @apply bg-gray-300 hover:bg-gray-200 text-gray-900;
}

.yellow-btn{
  @apply bg-yellow-700 hover:bg-yellow-600 text-gray-200;
}

.center-icon{
  @apply flex justify-center items-center rounded-full;
}

.modal-container{
  @apply fixed inset-0 z-40 justify-center items-start overflow-y-auto;
}

.modal-content{
  @apply mb-10 mt-12 w-full bg-bg_color2 px-4 rounded-lg;
}

.modal-header{
  @apply py-3 text-center border-b border-borderClr text-logo_clr1 text-2xl mb-2 relative;
}

.modal-close-icon{
  @apply  text-main_text text-[35px] p-[3px] flex items-center justify-center w-[35px] h-[35px] absolute right-2 top-[50%] translate-y-[-50%] z-50 bg-bg_color3 hover:bg-bg_color1 rounded-full cursor-pointer;
}

.comment-modal{
  @apply fixed inset-0 z-40 flex flex-col items-center justify-start max-h-[100vh] overflow-auto;
}

.comment-modal-header {
  @apply py-3 max-w-[700px] w-full text-center border-b absolute top-0 left-0 right-0 z-50;
}

.comment-modal-content{
  @apply mb-0 mt-7 max-w-[700px] w-[90%] rounded-lg h-fit max-h-[90vh] overflow-hidden relative border shadow-lg;
}

.post-comment-box {
  @apply gap-1 p-3 max-w-[700px] w-full border-t absolute z-50 left-0 right-0 bottom-0 rounded-md;
}

.post-text-comment-wrapper-on-modal{
  @apply px-4 pt-[60px] pb-[100px] max-h-[inherit] h-fit overflow-auto;
}

/* .comment-icon:hover {
  color: theme("colors.gray.200") !important;
} */

/* custom styling for login page*/

.post-more-menu.show{
  display: block;
}

#confirmModal.show{
  display: block;
}

#loginContainer{
  max-width: 600px;
  width: 100%;
}

#divider {
  height: 1px;
}

.error{
  font-size: 14px;
  color: #FECACA;
}

input{
  background-color: inherit;
}

/* hide center content scroll bar */
.center-content::-webkit-scrollbar, 
.left-sidebar::-webkit-scrollbar, 
textarea::-webkit-scrollbar
{
  display: none;
}

.center-content,
.left-sidebar,textarea{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#modalContent{
  /* max-width: 700px; */
  width: 100%;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0)) */
}

/* comment modal */
.comment-modal{
  background-color: #1e1e20e7;
}

.comment-modal-content{
  background-color: #323234;
  border-color: #8080805b;
}

@media screen and (max-width: 400px) {
  #scrollContainer, #heroAndPostContainer{
    padding-inline: 10px !important;
  }
}

@media screen and (max-width: 640px) {
  /* hide center content scroll bar */
  .scroll-container::-webkit-scrollbar,
  body::-webkit-scrollbar
  {
    display: none;
  }

  .scroll-container,
  body{
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

  #createPost{
    right: 10px;
  }

  #scrollToTopBtn{
    right: 20px;
  }
}

/* underline */
.line {
  width: fit-content;
  position: relative;
  padding-bottom: 5px;
}

.line::after {
  content: "";
  position: absolute;
  background-color: #26a5f1;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}